.navbar-global-login {
    background: transparent;
    position: relative;
    z-index: 1;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.linha-out {
    background: linear-gradient(90deg, #97CEF9 8.17%, #D296EF 81.47%, #D194EF 94.12%);
    width: 54px;
    height: 3px;
}

.button-out {
    display: flex;
    align-items: center;
}

.h1-button-out {
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    color: #5D8BAF;
    text-shadow: 0px 2px 4px #FFFFFF;
}


@media(min-width: 1024px) {
    
    .linha-out {
        width: 80px;
        height: 4px;
        margin: 5px 0;
    }

    .h1-button-out {
        font-size: 20px;
        text-shadow: 0px 2px 4px #FFFFFF;
    }

    .img-logo {
        width: 200px;
    }
}


@media(min-width: 1336px) {
    .img-icon-login{
        width: 30px;
    }
}

