.navbar-patient-global {
    background: transparent;
    position: relative;
    z-index: 1;
}

.navbar-patient-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.img-logo{
    width: 110px;
}

.linha-patient-home {
    background: linear-gradient(90deg, #97CEF9 8.17%, #D296EF 81.47%, #D194EF 94.12%);
    width: 60px;
    height: 3px;
}

.navbar-patient-item {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap: 15px
}

.item {
    font-weight: 800;
    font-size: 13px;
    line-height: 34px;
    color: #5B89AD;
    text-shadow: 0px 2px 4px #FFFFFF;
}

.configurations{
    display: flex;
}

.configurations-container{
    margin: 5px 0px;
    display: flex;
    align-items: center;
    width: 76px;
    height: 26.62px;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    justify-content: space-between;
    padding: 8px;
}

.linha-menu{
    background: linear-gradient(90deg, #97CEF9 8.17%, #D296EF 81.47%, #D194EF 94.12%);
    width: 100%;
    height: 1px;
}

@media(min-width: 1024px){
    .img-logo{
        width: 180px;
    }

    .item{
        font-size: 17px;
    }

    .avatar{
        width: 70px;
    }

    .configurations-container{
        width: 120px;
        height: 50px;
        gap: 5px;
    }
    .navbar-patient-item {
        gap: 25px;
        display: flex;
    }

}

@media(min-width: 1336px){
    .item{
        font-size: 18px;
    }

    .avatar{
        width: 80px;
    }

    .configurations-container{
        width: 140px;
        height: 60px;
        gap: 5px;
        border-radius: 27px;
    }
    .navbar-patient-item {
        gap: 40px;
        display: flex;
    }

    
}