.navbar-patient-global {
    background: transparent;
    position: relative;
}

.navbar-patient-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.img-logo{
    width: 110px;
}

.linha-patient-home {
    background: linear-gradient(90deg, #97CEF9 8.17%, #D296EF 81.47%, #D194EF 94.12%);
    width: 60px;
    height: 3px;
}

.navbar-patient-item {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap: 15px
}

.item {
    font-weight: 800;
    font-size: 13px;
    line-height: 34px;
    color: #5B89AD;
    text-shadow: 0px 2px 4px #FFFFFF;
}

.configurations{
    display: flex;
    align-items: center;
}

.configurations-container{
    display: flex;
    align-items: center;
    width: 76px;
    height: 26.62px;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    justify-content: space-between;
    padding: 8px;
}