.register-doctor-global {
    position: relative;
    background: #F2FAFF;
    overflow-x: hidden;
    height: 100vh;
}

.eclipseBlue-register-doctor {
    position: absolute;
    width: 125vh;
    height: 831px;
    left: -289px;
    top: -453px;
    background: radial-gradient(41.7% 41.71% at 49.95% 54.05%, rgba(87, 174, 250, 0.5) 0%, rgba(136, 191, 232, 0.02) 85.11%);
}

.button-return-doctor {
    margin: 21px 0px 0px 29px;
}

.register-doctor-cards {
    display: flex;
    justify-content: center;
    padding: 26px;
}

.card-bg-register-doctor {
    position: absolute;
    top: 217px;
    left: 7px;
    width: 303px;
    height: 454px;
    background: linear-gradient(2.37deg, rgba(150, 203, 246, 0.5) -11.42%, rgba(196, 225, 249, 0.5) 64.47%);
    backdrop-filter: blur(2px);
    border-radius: 35px;
}

.card-main-register-doctor-mobile {
    width: 337px;
    height: 497px;
    background: linear-gradient(2.37deg, #9BCCF5 -0.14%, #FFFFFF 73.54%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    position: relative;
    z-index: 1;
    padding: 18px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-cadaster-doctor {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #568BB8;
}

.input-cadaster-doctor{
    width: 100%;
    height: 34px;
    border: 0.5px solid #578BB7;
    border-radius: 14px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #568BB8;
    padding: 0 7px;
}

.input-cadaster-doctor::placeholder {
    color: rgba(92, 138, 174, 0.68);
}

.input-agrupament-doctor {
    display: flex;
    gap: 7px;
}

.card-main-register-doctor-desk {
    display: none;
}

.eclipsePink-register-doctor {
    position: fixed;
    width: 701.91px;
    height: 699.74px;
    left: 42px;
    top: 135px;
    background: radial-gradient(45.74% 45.74% at 47.47% 50.03%, rgba(175, 25, 221, 0.495) 0%, rgba(194, 167, 221, 0.015) 100%);
}

@media(min-width: 768px) {    
    .card-bg-register-doctor {
        position: absolute;
        top: 196px;
        left: 70px;
        width: 557px;
        height: 392px;
    }
    
    .card-main-register-doctor-mobile {
      display: none;
    }
    
    .label-cadaster-doctor {
        font-size: 15px;
    }
    
    .input-cadaster-doctor{
        height: 41px;
        font-size: 16px;
        color: #568BB8;
        border-radius: 25px;
    }

    .input-agrupament-doctor {
        justify-content: space-between;
        display: flex;
        gap: 7px;
    }
    
    .card-main-register-doctor-desk {
        background: linear-gradient(2.37deg, #9BCCF5 -0.14%, #FFFFFF 73.54%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 35px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 580px;
        height: 412px;
        padding: 34px;
        justify-content: center;
    }
    
    .eclipsePink-register-doctor {
        position: fixed;
        left: 290px;
        top: 184px;
    }
}

@media(min-width: 1024px) {   
    .button-return-doctor {
        margin: 21px 0px 0px 65px;
        width: 33px;
       
    } 
    .card-bg-register-doctor {
        position: absolute;
        top: 236px;
        left: 100px;
        width: 703px;
        height: 439px;
    }
    
    .label-cadaster-doctor {
        font-size: 17px;
    }
    
    .input-cadaster-doctor{
        height: 47px;
        font-size: 17px;
    }
    
    .card-main-register-doctor-desk {
        width: 755px;
        height: 465px;
        padding: 40px;
    }
    
    .eclipsePink-register-doctor {
        position: fixed;
        left: 478px;
        top: 184px;
    }
}

@media(min-width: 1336px) {   
    .button-return-doctor {
        width: 43px;
       
    } 
    .card-bg-register-doctor {
        position: absolute;
        top: 263px;
        left: 127px;
        width: 936px;
        height: 665px;
    }
    
    .label-cadaster-doctor {
        font-size: 26px;
    }
    
    .input-cadaster-doctor{
        height: 64px;
        font-size: 25px;
        margin: 0px 0 18px;
    }
    
    .card-main-register-doctor-desk {
        width: 1000px;
        height: 695px;
    }
    
    .eclipsePink-register-doctor {
        position: fixed;
        left: 670px;
        top: 155px;
        width: 898px;
        height: 864px;
    }
}