.navbar-global{
    background: transparent;
    position: relative;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.linha {
    background: linear-gradient(90deg, #97CEF9 8.17%, #D296EF 81.47%, #D194EF 94.12%);
    width: 70px;
    height: 3px;
}